    <section>
        <div class="subtitulo1">
            <h2>Reserva online tu próxima cita</h2>
        </div>

        <div class="imagenes">
            <a routerLink="login">
                <img style="float: left" src="../../../assets/BeautySalon.jpg" alt="Centros de belleza"/>
            </a>
            <a routerLink="/">
                <img style="float: left; margin-left: 50px;" src="../../../assets/Dentist.jpg" alt="Clínicas odontológicas"/>
            </a>
            <a routerLink="/">
                <img style="float: left; margin-left: 50px;" src="../../../assets/Veterinary.jpg" alt="Clínicas veterinarias"/>
            </a>
        </div>

        <div class="titulos">
            <p style="margin-left: 200px;">Centros de belleza, estética y SPA</p>
            <p style="margin-left: 50px;">Clínicas odontológicas</p>
            <p style="margin-left: 50px;">Clínicas veterinarias</p>
        </div>
   
    </section>
   
    <section>
        <div class="subtitulo2">
            <h2>Un servicio perfecto para ti</h2>
        </div>

    </section>
