<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Schedula</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Empresas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/servicios">Servicios</a>
        </li>
      </ul>
    </div>
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-secondary btn-sm" routerLink="/login" style="margin-right: 8px;">Iniciar Sesion</button>
      <button type="button" class="btn btn-secondary btn-sm" routerLink="/registro">Registrarse</button>
    </div>
  </div>
</nav>
