.contenedor{
  width: 90%;
  margin: 50px auto;
}

.boton.active{
  background-color: rgb(134, 177, 93) !important;
  color: rgb(255, 255, 255);
}

.boton.active:hover{
  background-color: rgb(101, 136, 69) !important
}

.boton{
  color: black;
}