<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first contenedor">
            <h5>Iniciar Sesion</h5>
          </div>
      <form [formGroup]="formaUsuarios">
        <input type="email" id="login" class="fadeIn second" name="login" placeholder="email" formControlName="email">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" formControlName="password">
        <input type="submit" class="fadeIn fourth" (click)="validarUsuario()" value="Log In">
      </form>
  
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>