.contenedor{
  width: 90%;
  margin: 50px auto;
}

.boton:focus:enabled{
  background-color: rgb(134, 177, 93) !important;
  color: rgb(255, 255, 255);
}
.boton:focus-visible{
  background-color: rgb(134, 177, 93) !important;
  color: rgb(255, 255, 255);
}

.boton{
  color: black;
}